ansible_user: ubuntu

alb_public_ip: "158.160.143.235"
bastion_public_ip: "89.169.157.76"
zabbix_public_ip: "89.169.148.69"
kibana_public_ip: "158.160.125.196"

elastic_host: elastic.ru-central1.internal
elastic_port: 9200

kibana_host: kibana.ru-central1.internal
kibana_port: 5601

zabbix_server_host: zabbix.ru-central1.internal
zabbix_version: "6.0"
zabbix_release_deb: "https://repo.zabbix.com/zabbix/6.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.0-4+ubuntu22.04_all.deb"

filebeat_image: "docker.elastic.co/beats/filebeat:8.12.0"

site_root: /var/www/site
