server {
  listen 80 default_server;
  server_name _;
  root {{ site_root }};
  index index.html;

  location / {
    try_files $uri $uri/ =404;
  }

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;
}
