filebeat.inputs:
  - type: filestream
    id: nginx-logs
    paths:
      - /var/log/nginx/access.log
      - /var/log/nginx/error.log

output.elasticsearch:
  hosts: ["http://elastic.ru-central1.internal:9200"]
